<!DOCTYPE html>
<html>
	<head>
        {% if modo == 0 %}
		<title>Registar Actividad - Riego</title>
        <label>Registar Actividad - Riego</label>
        {% endif %}
        {% if modo == 1 %}
        <title>Registar Actividad - Pulverizacion</title>
        <label>Registar Actividad - Pulverizacion</label>
        {% endif %}
        {% if modo == 2 %}
        <title>Registar Actividad - Tratamiento Plagas</title>
        <label>Registar Actividad - Tratamiento Plagas</label>
        {% endif %}
        {% if modo == 3 %}
        <title>Registar Actividad - Tratamiento Hongos</title>
        <label>Registar Actividad - Tratamiento Hongos</label>
        {% endif %}
        {% if modo == 4 %}
        <title>Registar Actividad - Poda</title>
        <label>Registar Actividad - Poda</label>
        {% endif %}
        {% if modo == 5 %}
        <title>Registar Actividad - Transplante</title>
        <label>Registar Actividad - Transplante</label>
        {% endif %}
        {% if modo == 6 %}
        <title>Registar Actividad - Bitacora</title>
        <label>Registar Actividad - Bitacora</label>
        {% endif %}
        {% if modo == 61 %}
        <title>Registar Actividad - Bitacora Subespacios</title>
        <label>Registar Actividad - Bitacora Subespacios</label>
        {% endif %}
        {% if modo == 62 %}
        <title>Registar Actividad - Bitacora Espacios</title>
        <label>Registar Actividad - Bitacora Espacios</label>
        {% endif %}
        <button onclick="document.location='{{home}}'">Home</button>
        <br>
        <hr>
	</head>
	<body>
        <script src="static/script.js"></script>
		
        <form method="POST">
            <select name="modo" hidden><option>{{modo}}</option></select>
            {% if modo <= 4 %} <!--Si el modo es de aplicacion de productos , muestro las plantas seleccionadas, si es de transplante muestro la planta y su tamaño actual-->
            <label >Plantas Seleccionadas: </label><br>
            
            {% for planta in plantas %}
            <label>{{planta['ID']}}</label><br>
            <select name="planta" hidden><option>{{planta["ID"]}}</option></select>
            {% endfor %}
            <hr>
            {% endif %}
            
            {% if modo <= 3 %} <!--Riego/Pulve/Trat p/trat h--> 
            <label for="fecha">Fecha: </label><input type="date" name="fecha" value="{{today}}"  required><br>
            <label for="cantidad">Cantidad (L): </label><input type="text" name="cantidad" required><br>
			<label for="ph">PH: </label><input type="number" step="0.01" min="0" max="14" name="ph" required><br>
			<label for="ec">EC: </label><input type="number" step="0.01"  name="ec" required><br>
            <label for="comment">Comentario: <input type="text" id="comment" name="comment"></label><br>
            <hr>
            
            <div id="producto_0">
                <label for="prodcuto">Producto: </label>
                <select name="producto" id="producto">
                    {% for prod in productos %}
                    <option value="{{prod}}" >{{prod}}</option>
                    {% endfor %}
                </select>
                <label for="medida">Medida ML. x Lt: </label><input type="number" name="medida" required>  
            </div>
            <button type="button" id="addProd" name="addProd" onclick="copiar_div(document.getElementById('producto_0'),document.getElementById('addProd'))">+</button><hr>
            {% endif %}
            
            {% if modo == 4 %} <!--PODAS-->
            <label>Fecha:</label><input type="date" name="fecha" required value="{{today}}"><br>
            <label>Poda:</label>
            <select name="metodo">
                <option>Apical</option>
                <option>Poda de Bajos</option>
                <option>Poda de esquejes</option>
                <option>Poda general</option>
                <option>Otro</option>
            </select><br>
            <label for="comment">Comentario: <input type="text" id="comment" name="comment"></label><br>
            {% endif %}            
            
            
            {% if modo == 5 %} <!--TRANSPLANTES-->
            <div id="plantas">
                <h3>Plantas Seleccionadas</h3>
                <label>Seleccionar Todas</label><input id="tpc" type="checkbox" onclick="checkOtherBoxes(document.getElementById('tpc'),document.getElementById('plantas').children)" onchange="hide_all_div_children(document.getElementById('plantas'))"><hr>
                {% set ns = namespace(found=false) %}
                {% for planta in plantas %}
                <div name="div_{{planta['ID']}}">
                    <select name="planta" hidden><option>{{planta['ID']}}</option></select>
                    <label>{{planta['ID']}} en {{planta['Tam']}}</label>
                    <label>Fecha: </label><input type="date" name="fecha" value="{{today}}">
                    <select name="tam">
                            {% for tam in tams %}    

                                {% if ns.found == true %}
                                    <option>{{tam}}</option>
                                {% endif %}

                                {% if tam == planta["Tam"] %}
                                    {% set ns.found = true %}
                                {% endif %}
                            {% endfor %}
                            
                            {% set ns.found = false %}
                    </select>
                    {% if planta["Estadio"] == "Clon" %}
                    <label>Mover a : </label>
                    <select name="S{{planta['ID']}}">
                        {% for esp in espacios if esp["Existe"] %}
                            {% for sube in esp["Subespacios"] if sube["Existe"] and not sube["Clones"] %}
                                <option value="{{sube['ID']}}">{{sube["Nombre"]}}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                    {% endif %}
                    <label>Transplante Global </label><input type="checkbox" name="{{planta['ID']}}" onchange="hide_div_children(document.getElementsByName(`div_{{planta['ID']}}`)[0],document.getElementsByName(`{{planta['ID']}}`)[0])">
                </div>
                {% endfor %}
            </div>
            <hr>
            
            <div>
                <h3>Transplante Global</h3>
                <label for="fechaglob">Fecha: </label><input type="date" name="fechaglob" value="{{today}}">
                <select name="tamglob">
                    {% for tam in tams %}
                        <option>{{tam}}</option>
                    {% endfor %}
                </select>
                <select name="subeglob">
                    {% for esp in espacios if esp["Existe"] %}
                        {% for sube in esp["Subespacios"] if sube["Existe"] and not sube["Clones"] %}
                            <option value="{{sube['ID']}}">{{sube["Nombre"]}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
            <br>
            {% endif %}
            
            {% if modo == 61 %}
            <select name="sube" hidden><option>{{sube["ID"]}}</option></select>
            {% endif %}
            
            {% if modo == 62 %}
            <select name="esp" hidden><option>{{esp["ID"]}}</option></select>
            {% endif %}


            {% if modo == 6 or modo == 61 or modo == 62 %} <!--Bitacora-->
            {% if plantas %}{% for planta in plantas %}<select name="planta" hidden><option>{{planta["ID"]}}</option></select>{% endfor %}{% endif %}
            {% if esp %}<select name="esp" hidden>{{esp["ID"]}}</select>{% endif %}
            {% if sube %}<select name="sube" hidden>{{sube["ID"]}}</select>{% endif %}
            <label for="fecha">Fecha: </label><input type="date" name="fecha" required value="{{today}}">
			<label for="text_area">Comentario: </label><br><textarea id="text_area" name="comment" required></textarea><br>
            {% endif %}
            <input type="submit" value="Registrar"><br>
        
        
        
        </form> 
        
        
	</body>
    </html>