<!DOCTYPE html>
<html>
	<head>
		<title>Añadir Plantas</title>
        <label>Añadir Plantas</label>
        <br>
        <hr>
	</head>
	<body>
        <script src="static/script.js"></script>
        
        <form action="/añadir planta" method="POST" enctype="application/json">
            <div id="planta_0" name="planta_0">
                <label for="fecha">Fecha: </label><input type="date" id="fecha" name="fecha" required><br>
                <label for="variedad">Variedad: </label>
                
                <select name="variedad" id="variedad">
                    {% for variedad in variedades %} <!--Variedades ahora es un dict "Nombre","ID"-->
                    <option value="{{variedad['Nombre']}}">{{variedad["Nombre"]}}</option>
                    {% endfor %}
                </select>
                <label for="sube">Subespacio: </label>
                
                <select name="sube">
                    {% for esp in espacios if esp["Existe"]%}
                            {% for sube in esp["Subespacios"] if sube["Existe"] and not sube["Clones"] %}
                        <option value="{{sube['ID']}}">{{esp["Nombre"]}} - {{sube["Nombre"]}}</option>
                        {% endfor %}
                    {% endfor %}
                </select>

                <select name="tam">
                    {% for tam in tams %}
                    <option value="{{tam}}">{{tam}}</option>
                    {% endfor %}
                </select>
            
                <select name="est">
                    {% for est in ests %}
                    <option value="{{est}}">{{est}}</option>
                    {% endfor %}
                </select>
                
            <hr>
            </div>
            <button type="button" id="addPlant" name="addPlant" onclick="copiar_div(document.getElementById('planta_0'),document.getElementById('addPlant'))">+</button><br>
            <input type="submit" value="Agregar Plantas"><br>
        </form>
        
	</body>
</html>