<!DOCTYPE html>
<html>
	<head>
		<title>Bitacora</title>
        <label>Bitacora</label><br>
        <button onclick="document.location='{{home}}'">Home</button>
        <hr>
	</head>
	<body>
        <script src="static/script.js"></script>
        <div> <label>Plantas Seleccionadas: </label><br>
        {% for planta in plantas %}
            <label>{{planta["ID"]}}</label>
        {% endfor %}
        </div><hr>

        <div>
            {% for fecha in logs %}
            <button onclick="hide_children(document.getElementsByName('{{fecha}}')[0])"><h2>{{fecha}}</h2></button><hr>
                <div name="{{fecha}}">

                    {% for log in logs[fecha] %}
                    <div>
                        
                        {% if log[1]["Log"]["ID"] <= 3 %}
                            {% with id = log[1]["Log"]["ID"] %}
                            {% if id == 0 %} <h3>Riego</h3> {% endif %}
                            {% if id == 1 %} <h3>Pulverizacion</h3> {% endif %}
                            {% if id == 2 %} <h3>Tratamiento Plagas</h3> {% endif %}
                            {% if id == 3 %} <h3>Tratamiento Hongos</h3> {% endif %}
                            {% endwith %}
                            <label>Cantidad = {{log[1]["Log"]["Cantidad"]}} L</label>
                            <label>PH = {{log[1]["Log"]["PH"]}} </label>
                            <label>EC = {{log[1]["Log"]["EC"]}} </label>

                            {% if log[1]["Log"]["Comment"] %}
                            <br><label>Comentario = {{log[1]["Log"]["Comment"]}} </label><br>
                            {% endif %}
                            
                            <label>Productos : </label>
                            {% for prod in log[1]["Log"]["Prods"] %}
                                <label>{{prod[0]}} , ML x L: {{prod[1]}}</label><br>
                            {% endfor %}
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 4 %}
                            <h3>Poda</h3>
                            <label>Tipo = {{log[1]["Log"]["Tipo"]}}</label>
                        
                            {% if log[1]["Log"]["Comment"] %}
                                <br><label>Comentario = {{log[1]["Log"]["Comment"]}} </label><br>
                            {% endif %}
                        {% endif %}
                        
                        
                        {% if log[1]["Log"]["ID"] == 5 %}
                            <h3>Transplante</h3>
                            <label>Tamaño = {{log[1]["Log"]["Tam"]}}</label><br>
                        
                            {% if log[1]["Log"]["Comment"] %}
                                <br><label>Comentario = {{log[1]["Log"]["Comment"]}} </label><br>
                            {% endif %}
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 6 %}
                            <h3>Bitacora</h3>
                            <label>Comentario = {{log[1]["Log"]["Comment"]}} </label><br>
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 7 %}
                            <h3>Planta/s Movida/s</h3>
                            <label>A = {{trans[log[1]["Log"]["Loc"]]}}</label><br>
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 10 %}
                            <h3>Cambio de estadio</h3>
                            <label>A = {{log[1]["Log"]["Est"]}}</label><br>
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 9 %}
                            <h3>Planta/s añadidas</h3>
                            <label> A = {{trans[log[1]["Log"]["Loc"]]}}</label><br>
                            {% for p in log[0] %}
                            <label>{{p}}</label>
                            {% endfor %}
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 8 %}
                            <h3>Planta/s muertas</h3><br>
                            {% for p in log[0] %}
                            <label>{{p}}</label>
                            {% endfor %}
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 61 %}
                            <h3>Bitacora Subespacio</h3>
                            <label>Subespacio = {{trans[log[1]["IDs"][0]]}}</label><br>
                            <label>Comentario = {{log[1]["Log"]["Comment"]}}</label>
                        {% endif %}
                        
                        {% if log[1]["Log"]["ID"] == 62 %}
                            <h3>Bitacora Espacios</h3>
                            <label>Espacio = {{trans[log[1]["IDs"][0]]}}</label><br>
                            <label>Comentario = {{log[1]["Log"]["Comment"]}}</label>
                        {% endif %}
                        
                        <br>
                        {% if log[1]["Log"]["ID"] != 9 and log[1]["Log"]["ID"] != 8 %}
                        <h3>Plantas Afectadas: </h3>
                            {% for p in log[0] %}
                            <label>{{p}}</label>
                            {% endfor %}
                            <br><br>
                        {% endif %}
                        
                        <hr>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

		 
	</body>
</html>