<!DOCTYPE html>
<html>
	<head>
		<title>Chequeo Variedades Clonadas</title>
		<label>Chequeo Variedades Clonadas</label>
        <button onclick="document.location='{{home}}'">Home</button>
        <br><hr>
    </head>
	<body>
        {% if empty %}
            <label>Variedades sin plantas ni clones: </label><br>
                {% for var in empty %}
                    <label>{{var}}</label><br>
                {% endfor %}
        {% endif %}

        {% if one_plant_only %}
            <label>Variedades una sola planta</label><br>
            {% for var in one_plant_only %}
                <label>{{var}}</label><br>
            {% endfor %}
        {% endif %}
        
        {% if one_plant_pclones %}
            <label>Variedades con 1 sola planta, y clones</label><br>
            {% for var in one_plant_pclones %}
                <label>{{var}}</label><br>
            {% endfor %}
        {% endif %}
        
        {% if mult_plants %}
            <label>Variedades con mas de una planta</label><br>
            {% for var in mult_plants %}
                <label>{{var}}</label><br>
            {% endfor %}
        {% endif %}


	</body>
</html>