<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chequeo Variedades Clonadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chequeo_variedades.css') }}">
</head>
<body>
    <h1>Chequeo Variedades Clonadas</h1>
    <button onclick="document.location='{{home}}'">Home</button>
    <br><hr>
    
    {% if empty %}
        <section>
            <h2>Variedades sin plantas ni clones:</h2>
            {% for var in empty %}
                <p>{{ var }}</p>
            {% endfor %}
        </section>
    {% else %}
        <p>No hay variedades sin plantas ni clones</p>
    {% endif %}

    {% if one_plant_only %}
        <section>
            <h2>Variedades con una sola planta</h2>
            {% for var in one_plant_only %}
                <p>{{ var }}</p>
            {% endfor %}
        </section>
    {% else %}
        <p>No hay variedades con solo una planta</p>
    {% endif %}

    {% if one_plant_pclones %}
        <section>
            <h2>Variedades con 1 sola planta, y clones</h2>
            {% for var in one_plant_pclones %}
                <p>{{ var }}</p>
            {% endfor %}
        </section>
    {% else %}
        <p>No hay variedades con 1 sola planta, y clones</p>
    {% endif %}

    {% if mult_plants %}
        <section>
            <h2>Variedades con más de una planta</h2>
            {% for var in mult_plants %}
                <p>{{ var }}</p>
            {% endfor %}
        </section>
    {% else %}
        <p>No hay variedades con más de una planta</p>
    {% endif %}
</body>
</html>
