<!DOCTYPE html>
<html>
	<head>
        {% if modo == 0 %}
		    <title>Chequeo Stock</title>
            <label>Chequeo Stock</label>
        {% endif %}
        {% if modo == 1%}
            <title>Chequeo Riegos</title>
            <label>Chequeo Riegos</label>
        {% endif %}
        <button onclick="document.location='{{home}}'">Home</button>
        <br>
        <hr>
	</head>
	<body>
        <script src="static/script.js"></script>
        {% if modo == 0 %}
            <label>Stock ultimo mes</label><br>
            {% for key in ult_stock_g %}
                <label>{{trans[key]}} : {{ult_stock_g[key]}}</label><br>
            {% endfor %}
        
        {% set st = namespace(stock=ult_stock) %}
        {% endif %}

        {% if modo == 1 %}
        {% for fecha in logs %}
        <button onclick="hide_children(document.getElementsByName('{{fecha}}')[0])"><h3>{{fecha}}</h3></button><br>
        <div name="{{fecha}}">            
            {% for log in logs[fecha] %}
            <div>
                {% if log["Log"]["ID"] == 0 %} <!--RIEGOS-->
                <h3>Riego</h3><br>
                {% endif %}

                {% if log["Log"]["ID"] == 1 %} <!--PULVE-->
                <h3>Pulverizacion</h3><br>
                {% endif %}
                
                
                {% if log["Log"]["ID"] <= 1 %} <!--EXTRAS-->
                <label>Cantidad = {{log["Log"]["Cantidad"]}} L PH = {{log["Log"]["PH"]}} EC = {{log["Log"]["EC"]}} </label><br>
                <label>Productos: </label>    
                    {% for prod in log["Log"]["Prods"] %}
                        <label>{{prod[0]}} - ML x L: {{prod[1]}}</label>
                    {% endfor %} 
                {% endif %}
                <br>
                <label> <!--PLANTAS-->
                    Plantas Involucradas : 
                    {% for id in log["IDs"] %}
                    <label>{{id}}</label>
                    {% endfor %}
                </label>
            </div><br>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}
        {% endif %}

        {% if modo == 0 %}
        {% for fecha in logs %}
        <br>
        <button onclick="hide_children(document.getElementsByName('{{fecha}}')[0])"><h3>{{fecha}}</h3></button><br>
        <div name="{{fecha}}">
            <select>
                <option selected>Ver mas</option>
                {% for sube in logs[fecha][0] %}
                <option>{{trans[sube]}} : {{logs[fecha][0][sube]}}</option>
                {% endfor %}
            </select><br>

            {% for log in logs[fecha][1] %}
                <div>
                {% if log["Log"]["ID"] == 8 %} <!--Muerte-->
                <label>Plantas Muertas en {{trans[log["Log"]["Loc"]]}}</label><br>
                    {% for id in log["IDs"] %}
                        <label>{{id}}</label>
                    {% endfor %}
                {% endif %}
                
                {% if log["Log"]["ID"] == 9 %} <!--Vida-->
                <label>Plantas Añadidas a {{trans[log["Log"]["Loc"]]}}</label><br>
                    {% for id in log["IDs"] %}
                        <label>{{id}}</label>
                    {% endfor %}
                {% endif %}
                <br>
            
                {% set ns = namespace(cant=0) %}
                {% for p in log["IDs"] %}
                    {% set ns.cant = ns.cant + 1 %}
                {% endfor %}

                {% if log["Log"]["ID"] == 9 %}
                {% set st.stock = st.stock + ns.cant %}
                <label>Stock = {{st.stock}}</label>
                {% endif %}
                
                {% if log["Log"]["ID"] == 8 %}
                {% set st.stock = st.stock - ns.cant %}
                <label>Stock = {{st.stock}}</label>
                {% endif %}
                </div><br>
            {% endfor %}

        </div>
        <hr>
        {% endfor %}
        {% endif %}
        
	</body>
</html>