<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido {{user}}</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
    <label>Bienvenido {{user}}</label><br><hr>
    {% with mes = get_flashed_messages() %}
    {% if mes %}
    <h3>{{mes[0]}}</h3><br>
    {% endif %}
    {% endwith %}
    <script src="static/script.js"></script>
    <script>
        function checkOtherBoxes(check, children) {
            check.checked = !check.checked;
            for (let a = 0; a < children.length; a++) {
                if (children[a].type == "checkbox") {
                    children[a].checked = !children[a].checked;
                } else if (children[a].children.length > 0) {
                    checkOtherBoxes(check, children[a].children);
                }
            }
        }
    </script>
</head>
<body>
    <label for="{{cant_plantas}}">Cantidad de plantas: {{cant_plantas}}</label>
    <label for="{{clones}}">Clones enraizando: {{clones}}</label>
    <hr>
    <form method="POST">
        {% for espacio in espacios if espacio["Existe"] %}
        <div class="espacio" id="{{espacio['Nombre']}}">
            <div class="espacio-header">
                <label for="{{espacio['ID']}}">{{espacio["Nombre"]}} :</label>
                <input type="checkbox" id="{{espacio['ID']}}" name="{{espacio['ID']}}" 
                onclick="checkOtherBoxes(this, document.getElementById('{{espacio['Nombre']}}').querySelectorAll('input[type=checkbox]'))">                    
                <button type="submit" value="{{espacio['ID']}}" name="log">Añadir Bitacora {{espacio["Nombre"]}}</button>
            </div>
            <div class="subespacios">
                {% for sube in espacio['Subespacios'] if sube["Existe"] %}
                <div class="subespacio" id="{{sube['Nombre']}}">
                    <label for="{{sube['ID']}}">{{sube["Nombre"]}}</label>
                    <input type="checkbox" id="{{sube['ID']}}" name="{{sube['ID']}}"
                    onclick="checkOtherBoxes(this, document.getElementById('{{sube['Nombre']}}').querySelectorAll('input[type=checkbox]'))">
                    <button type="submit" value="{{sube['ID']}}" name="log_s">Añadir Bitacora {{sube["Nombre"]}}</button>
                    <div class="plantas">
                        {% for planta in sube["Individuos"] if planta["Estadio"] != "Muerta" %}
                        <div class="planta">
                            {% with var = planta["ID"][:planta["ID"].index("-")] %}
                                <span class="planta-info" style="background-color: {{colores[var]}}" data-color={{colores[var]}} >
                                    <label>{{planta['ID']}}: {{planta['Tam']}}</label>
                                </span>
                                <input type="checkbox" id="{{planta['ID']}}" name="{{planta['ID']}}">
                            {% endwith %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div><hr>
        {% endfor %}
        <select name="mode">
            <option value="Riego">Riego</option>
            <option value="Pulerizacion">Pulverizacion</option>
            <option value="Tratamiento Plagas">Tratamiento Plagas</option>
            <option value="Tratamiento Hongos">Tratamiento Hongos</option>
            <option value="Poda">Poda</option>
            <option value="Transplante">Transplante</option>
            <option value="Bitacora">Bitacora</option>
            <option value="Modificar">Modificar</option>
        </select>
        <input type="submit" value="Registrar actividad">
        <hr>
        <button type="submit" name="bit_p">Ver Bitacora</button><br>
    </form>
    <button onclick="document.location='{{add_p}}'">Añadir planta</button><br>
    <button onclick="document.location='{{config}}'">Configuracion</button><br>
    <button onclick="document.location='{{hist_stock}}'">Historial stock</button><br>
    <button onclick="document.location='{{hist_riego}}'">Historial riegos</button><br> 
    <button onclick="document.location='{{check_vars}}'">Chequeo Variedades Clonadas</button><br> 
</body>
</html>
