<!DOCTYPE html>
<html>
	<head>
		<title>Ingreso</title>
		<label>Ingreso</label><br><hr>
		{% with mes = get_flashed_messages() %}
		{% if mes %}
		<label>{{mes}}</label>
		{% endif %}
		{% endwith %}
	</head>
	<body>
		<form action="/" method="POST">
			<label for="user">Username:</label><br>
			<input type="text"  name="user" required><br>
			<label for="passw">Password:</label><br>
			<input type="text" type="password" name="passw" required><br>
			<input type="submit" value="Submit"><br>
		</form> 
	</body>
</html>