<!DOCTYPE html>
<html>
    <head>
        {% if mode == 0 %}
        <title>Modificar Plantas</title>
        <label>Modificar Plantas</label>
        {% endif %}
        {% if mode == 1 %}
        <title>Modificar Espacios</title>
        <label>Modificar Espacios</label>
        {% endif %}
        <button onclick="document.location='{{home}}'">Home</button>
        <br><hr>
    </head>
    <body>
        <script src="static/script.js"></script>
        
        <form  method="POST">
            <select name="modo" hidden><option>{{mode}}</option></select>

            {% if mode == 0 %} <!--Modificar Plantas-->
            <div id="plantas">
                <h3>Plantas Seleccionadas: </h3>
                <label>Seleccionar Todas</label><input id="tpc" type="checkbox" onclick="checkOtherBoxes(document.getElementById('tpc'),document.getElementById('plantas').children)" onchange="hide_all_div_children(document.getElementById('plantas'))"><hr>
                {% for planta in plantas %}
                <div name="div_{{planta['ID']}}">
                    <label>{{planta["ID"]}}</label>
                    <select name="planta" hidden><option>{{planta["ID"]}}</option></select>
                    <label for="fecha">Fecha: </label><input type="date" value="{{today}}" name="fecha">
                    <label>Subespacio: </label>
                    <select name="sube">
                        <option >Seleccionar</option>
                        {% for esp in espacios if esp["Existe"] %}
                            {% for sube in esp["Subespacios"] if sube["Existe"] and not sube["Clones"] %}
                                <option value="{{sube['ID']}}">{{esp["Nombre"]}} - {{sube['Nombre']}}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <label>Estadio: </label>
                    <select name="Estadio">
                        <option >Seleccionar</option>
                        {% for est in ests %}
                        <option name="{{est}}">{{est}}</option>
                        {% endfor %}
                    </select>
                    <label>Modificacion Global</label><input type="checkbox" name = "{{planta['ID']}}" onchange="hide_div_children(document.getElementsByName(`div_{{planta['ID']}}`)[0],document.getElementsByName(`{{planta['ID']}}`)[0])">
                </div>
                {% endfor %}
            </div>
            <div>
                <h3>Modificacion global</h3>
                <label for="fechag">Fecha: </label><input type="date" value="{{today}}" name="fechag" >
                <label>Subespacio: </label>
                <select name="subeglob">
                    <option>Seleccionar</option>
                    {% for esp in espacios if esp["Existe"] %}
                            {% for sube in esp["Subespacios"] if sube["Existe"] and not sube["Clones"] %}
                                <option value="{{sube['ID']}}">{{esp["Nombre"]}} - {{sube['Nombre']}}</option>
                            {% endfor %}
                        {% endfor %}
                </select>
                <label>Estadio: </label>
                <select name="Estadioglob">
                    <option selected>Seleccionar</option>
                    {% for est in ests %}
                        <option >{{est}}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            
            
            {% endif %}


            {% if mode == 1 %}
                {% if vacio is sameas true %}
                    <button type="submit" name="delete" value="{{espacio['ID']}}">Eliminar Espacio</button>
                {% endif %}
            
            {% if espacio["Subespacios"]  %}
            <div>
                <label>Subespacios Actuales </label><br>
                {% for sube in espacio["Subespacios"] if sube["Existe"] %}
                    <label>{{sube["Nombre"]}}</label>
                    {% set p = namespace(plantas=0) %} 
                    {% set dp = namespace(d_plantas=0) %}
                    
                    {% for planta in sube['Individuos'] %}
                        {% if planta["Estadio"] is sameas "Muerta" %}
                            {% set dp.d_plantas = dp.d_plantas + 1 %}
                        {% endif %}
                        
                        {% if planta["Estadio"] is not sameas "Muerta" %}
                            {% set p.plantas = p.plantas + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if p.plantas is sameas dp.d_plantas %}
                        <button type="submit" name="del_sube" value="{{sube['ID']}}">Eliminar Subespacio</button><
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
            {% endif %}
            <select name="esp" hidden><option>{{espacio["ID"]}}</option></select>
            <div id="sube_0" name="sube_0">
                <label for="nombre">Nombre Subespacio: </label><input type="text" name="nombre">
            <!--Tiene clones?? checkbox-->
            </div>
            <button type="button" id="addSube" onclick="copiar_div(document.getElementById('sube_0'),document.getElementById('addSube'))">+</button><br>
            {% endif %}
            
            <input type="submit" value="Modificar"><br>
        </form>
    </body>
</html>